$headerColor:#8DA290;
$headerLettersColor: #F2CBBB;
$Background:#BEC7B4;
$newsColor: #DEE2D9;
$newsColorLetters: #8DA290;
$BackgroundForm: #9fa697;

$headerColorBlack:#6f8072;
$headerLettersColorBlack: #F2CBBB;
$BackgroundBlack:#8c9483;
$newsColorBlack: #bbae7955;
$newsColorLettersBlack: #4f451b;
$BackgroundFormBlack: #757a6e;


*{
    margin: 0;
    padding: 0;
}

#backgroundHeader {
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: $Background;
}

#backgroundHeader.dark {
  @extend #backgroundHeader;
  background-color: $BackgroundBlack;

}

#homePage {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 95vh;
  background-color: $Background;
}

#homePage.dark {
  @extend #homePage;
  background-color: $BackgroundBlack;
}

#header{
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    background-color: $headerColor;
    color: $headerLettersColor;
    font-size: 17px;
    border-radius: 35px;

    button {
      all: unset;
      cursor: pointer;
    }

    // .homeBold, .formBold, .newsBold{
    //   font-weight: bold;
    // }
}

#home.homeBold {
  text-decoration: underline;
}

#form.formBold {
  text-decoration: underline;
}

#news.newsBold {
  text-decoration: underline;
}

#header.dark {
  @extend #header;
  background-color: $headerColorBlack;
  color: $headerLettersColorBlack;
}


#formComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-color: $Background;
}

#formComponent.dark {
  @extend #formComponent;
  background-color: $BackgroundBlack;
}

#inputsForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 550px;
    width: 35%;
    border-radius: 10px;
    background-color: $BackgroundForm;
}

#inputsForm.dark {
  @extend #inputsForm;
  background-color: $BackgroundFormBlack;
}

#input {
    width: 250px;
    height: 30px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px black solid;
}

#textArea {
    width: 250px;
    height: 200px;
    border-radius: 5px;
    border: none;
    border-bottom: 1px solid black;
}

#form, #news, #home, #theme-btn{
    cursor: pointer;
}

#listNewsPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: $Background;
}

#listNewsPage.dark {
  @extend #listNewsPage;
  background-color: $BackgroundBlack;
}

#listNews {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    background-color: $Background;
}

#listNews.dark {
  @extend #listNews;
  background-color: $BackgroundBlack;
}

#newsPainting {
    width: 40%;
    height: 350px;
    border-radius: 10px;
    margin:auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: $newsColor;
    color: $newsColorLetters;
}

#newsPainting.dark {
  @extend #newsPainting;
  background-color: $newsColorBlack;
    color: $newsColorLettersBlack;
}

#title {
    font-weight: bold;
    margin:10px;
    color: $newsColorLetters;
}

#title.dark{
  @extend #title;
  color: $newsColorLettersBlack;
}

#img {
    height: 160px;
    margin:10px;
}

#description {
    margin:10px;
}

#imgRover {
  height: 400px;
}

#carrousel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60%;
  height: 600px;
  background-color: $BackgroundForm;

  #left, #right{
    cursor: pointer;
    color: $headerLettersColor;
  }
}

#carrousel.dark {
  @extend #carrousel;
  background-color: $BackgroundFormBlack;

  #left.dark, #right.dark{
    cursor: pointer;
    color: $headerLettersColorBlack;
  }
}

#filterNews {
  display: flex;
  align-items: center;
  gap: 10%;
  justify-content: center;
  width: 30%;
  height: 35px;
  background-color: $headerColor;
  border-radius: 20px;
  margin: 20px;
}

#filterNews.dark {
  @extend #filterNews;
  background-color: $headerColorBlack;
}

#countryAus, #countryFr, #countryJpn, #countryEeuu {
  all:unset;
  color: $headerLettersColor;
  cursor: pointer;
}

#countryAus.dark, #countryFr.dark, #countryJpn.dark, #countryEeuu.dark {
  @extend #countryAus, #countryFr, #countryJpn, #countryEeuu ;
  color: $headerLettersColorBlack;

}

#countryAus.aus {
  font-weight: bold;
}

#countryFr.fr {
  font-weight: bold;
}

#countryJpn.jpn {
  font-weight: bold;
}

#countryEeuu.eeuu {
  font-weight: bold;
}


#footer {
  width: 100%;
  height: 200px;
  background-color: $headerColor;
  display: flex;
  justify-content: space-around;
  color: $headerLettersColor;
}

#footer.dark {
  @extend #footer;
  background-color: $headerColorBlack;
  color: $headerLettersColorBlack;
}

#footerRouter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  div {
    margin: 10px;
    cursor: pointer;
  }
}

#footerSubscribe {
  display: flex;
  align-items: center;
  padding: 10px;

  input{
    height: 30px;
  }

  div {
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
  }
}
